.header-appear .navbar-top-default {
    height: 70px;
    position: fixed;
    z-index: 999;
    background: #313234;
    -webkit-animation-name: animationFade;
    -o-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 10px 10px -10px rgb(0 0 0 / 35%);
    box-shadow: 0 10px 10px -10px rgb(0 0 0 / 35%);
}

header a.logo img {
    height: 140px;
    width: 300px;
    vertical-align: sub;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #0a7832;
}
::-webkit-scrollbar-thumb {
    background: #0a7832;
}
::-webkit-scrollbar-track {
    background-color: #e9edf0;
    border-left: 1px solid #ededed;
}

.header-appear .nav-box-round .navbar-nav .nav-link:hover {
    color: #0a7832;
}
.header-appear .nav-box-round .navbar-nav .nav-link.active {
    background-color: #0a7832;
    color: #ffffff !important;
}

.header-appear .navbar-simple .navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
}

.parallax-box:hover i {
    transform: translateY(-5px);
    color: #0a7832;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.gradient-bg1 {
    background: #0a7832;
    background: -moz-linear-gradient(left, #11b84e 2%, #0a7832 82%);
    background: -webkit-linear-gradient(left, #11b84e 2%,#0a7832 82%);
    background: linear-gradient(to right, #11b84e 2%,#0a7832 82%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11b84e', endColorstr='#0a7832',GradientType=1 );
}

.btn.btn-gradient {
    color: #ffffff;
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #0a702f 0%, #0a7832 51%, #11b84e 100%);
}

.bg-img2 {
    background: url(../img/slider-image3.jpg);
}


.scroll-top-arrow {
    font-size: 30px;
    line-height: 45px;
    color: #fff !important;
    display: none;
    height: 45px;
    width: 45px;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    text-decoration: none;
    z-index: 99;
    border-radius: 100%;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #0a7832 0%, #0a7832 51%, #0a7832 100%);
}

.side-menu {
    width: 40%;
    position: fixed;
    right: 0;
    top: 0;
    background: #0a7832;
    z-index: 1032;
    height: 100%;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease, -o-transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    overflow: hidden;
}

.loader {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1111;
    overflow-x: hidden;
    background: #0a7832;
    background: -moz-linear-gradient(left, #19ff6d 2%, #11ac4a 82%);
    background: -webkit-linear-gradient(left, #19ff6d 2%,#11ac4a 82%);
    background: linear-gradient(to right, #19ff6d 2%,#11ac4a 82%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19ff6d', endColorstr='#11ac4a',GradientType=1 );
}